html{
    scroll-behavior: smooth;
}

.navbar-brand img{

    width: 25px;
    height: 25px;
    margin-right: 0.5em;
    margin-top: -7px;
}

.jumbotron{
    padding: 2rem 1rem;
    height: 100vh;
    background-color: rgb(255, 187, 0);
    

}

.bungkus{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   width: 100%;
  
   align-items: center;
}

.title-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}



*{
    padding: 0;
    margin: 0;
    
    font-family: 'Gilroy', sans-serif;
}
html{
    font-size: 16px;
}
.hide{
    display: none;
}
.fadeIn{
    animation: fade 0.5s ease-in-out;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.row{
    justify-content: center;
}

/* product */
.wrapper{
    margin-top: 10%;
    
  }
  
  .wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #000000;  
    position: relative;
  }
  
  .team .team_member h3{
    color: goldenrod;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }
  
/* ---------------------------------------------- */
/*                    FOOTER                      */
/* ---------------------------------------------- */
footer{
    background-color: rgba(255, 255, 255, 0.998);
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}
footer .container-fluid {

   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;


}
footer.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer.col{
   min-width: 250px;
   color:#030303f2;
   font-family: poppins;
   padding:0 2rem;
}
footer .col .logo{
   width: 100px;
   margin-bottom:25px;
}
footer .col h3{
   color:#ff014fff;
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}
footer .col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: #ff014fff;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
footer .col h3:hover::after{
   width:30px
}
footer .col .social a i{
   color:#ff014fff;
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
footer .col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
footer .col .links a{
   display: block;
   text-decoration: none;
   color:#040404;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
footer .col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: #ff014fff;
   transition: 0.5s ease;
   opacity: 0;
}
footer .col .links a:hover::before{
   opacity: 1;
}
footer .col .links a:hover{
   transform: translateX(-8px);
   color:#ff014fff;
}
footer .col .contact-details{
   display: inline-flex;
   justify-content: space-between;
}
footer .col .contact-details i{
   margin-right:15px;
}
footer .row .form{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:2rem 0;
}
footer .row .form input{
   background-color: rgb(4, 4, 4);
   border:0;
   outline:none;
   padding:14px 20px;
   border-radius: 6px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   color: white;

}



footer .form button{
   padding:14px 20px;
   border:0;
   border-radius: 6px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   background-color: #ff014fff;
   
}

/********** Responsive Design ********/
@media(max-width:900px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 25px;
 }
}
@media(max-width:768px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 20px;
 }}